$primClr: #9356DC;
$secndClr: #FF79DA;
$tertClr: #99E2D0;
$quartClr: #f3f3f3;
$quintClr: #f6f6f6;
$sixtClr: #f5edff;
$seventhClr: #353535;
$eightClr: #eaeaea;
$ninthClr: #de6eda;
$borderRad: 30px;
$borderRadius: 10px;
$border: 1px solid black;
$fontSizeMain: 2.1em;
$padding: 15px;
$imgRestaurant: (width: 100px, height: 50px);


*{
    font-family: 'Roboto', sans-serif;
}

.header{
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgba(0,0,0,.25);
    position: relative;
    z-index: 1000;
    margin: 0;
        &__logo{
        font-family: 'Shrikhand', cursive;
        font-size: $fontSizeMain;
        text-align: center;
        color: $seventhClr;
        font-weight: lighter;
        }
    }

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 20%;

    .location{
        width: 100%;
        height: 50px;
        background-color: $eightClr;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
            &__texte{
                font-weight: bold;
            }
    }
    .description{
        width: 100%;
        height: auto;
        background-color: $quintClr;
        border: 0;
        text-align: center;
        padding-bottom: 20px;

        &__titre{
            font-size: $fontSizeMain;
        }
        &__boutton{
            padding: 10px;
            input{
                border-radius: $borderRad;
                padding: $padding;
                background-color: $ninthClr;
                box-shadow: 0px 5px 5px 0px $ninthClr;
                color: $quartClr;
                font-size: 1.3em;
            }
        }
    }
    .navBar{
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 70%;
            margin: 0 15%;
      
            li{
                border: $border;
                list-style-type: none;
                border-radius: $borderRad;
                padding: $padding;
               
                font-size: 1.2em;
                background-color: $quintClr;
                &:hover{
                    background-color: $sixtClr;
                }
            }
        }
        
    }
}

.mainPage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $quintClr;

    &__imgCard {
        width: 700px;
        height: 300px;
        border: 0px solid black; // enlever 1px 
        border-radius: $borderRadius;
        overflow: hidden;
        margin-bottom: 30px;
        margin: 40px; 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        img{
            width: 100%;
            height: 230px;
            overflow: hidden;
            object-fit:cover;
        }
        &--txt{
            width: 100%;
            height: 120px;
            background: #fff;
            border: 0px solid; // enlever bordures
        }
        h3{
            margin-top: 0;
        }
        
    }

   
}

.menu{
    
    width: 100%;

    .banniereRestaurant{
        width: 100%;

        
        img{
            max-width: 100%;
        }
    }
    h1{
        text-align: center;
        font-size: 2em;
    }

    .menu__restaurant{
        border-radius: 9% 9% 0 0;
        background-color: #fff;
        border: 1px solid black;
        width: 100%;
        z-index: 1;
        display: flex;
        position: relative;
        top: -50px;
        ul{
            font-size: 1.5em;
            li{
                border: 1px solid black;
                padding: 25px;
                margin-bottom: 20px;
                list-style-type: none;
                border-radius: $borderRad
            }
        }
    }
}

footer{
    background-color: $seventhClr;
    width: auto;
    height: auto;
    padding: 5px;
    ul{
        list-style-type: none;
        margin-left: 150px;
        h2{
            font-family: 'Shrikhand', cursive;
            font-size: 1.3em;
            color: $quartClr;
            font-weight: lighter; 
        }
    }
    a{
        color: $quartClr;
        text-decoration: none;
    }

}