$primClr: #9356DC;
$secndClr: #FF79DA;
$tertClr: #99E2D0;
$quartClr: #f3f3f3;
$quintClr: #f6f6f6;
$sixtClr: #f5edff;
$seventhClr: #353535;
$eightClr: #eaeaea;
$ninthClr: #de6eda;
$borderRad: 30px;
$borderRadius: 10px;
$border: 1px solid black;
$fontSizeMain: 2em;
$padding: 15px;
$imgRestaurant: (width: 100px, height: 50px);


*{
    font-family: 'Roboto', sans-serif;
}

.loader {
	animation: loader 2s cubic-bezier(0.215, 0.610, 0.355, 2.000)  both;
}
@keyframes loader {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    25%{
        opacity: 0.3;
    }
    50% {
      opacity: 0.5;
    }
    70%{
        opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes heart {
    100% {
      overflow: hidden;
    }
  }
  
  

.header{
    padding: 1em;
    box-shadow: 0 0 1em rgba(0,0,0,.25);
    position: relative;
    z-index: 9999;
    margin: 0;
        
        &__arrow{
            font-size: 2em;
            color: $seventhClr;
            position: absolute;
        }
        &__logo{
        font-family: 'Shrikhand', cursive;
        font-size: 2em;
        text-align: center;
        color: $seventhClr;
        font-weight: lighter;
        }
    }

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 20%;
    .location{
        width: auto;
        height: 50px;
        padding: 10px;
        background-color: $eightClr;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
            &__texte{
                font-weight: bold;
                font-size: 1.4em;
            }
    }
    .description{
        width: 100%;
        height: auto;
        background-color: $quintClr;
        text-align: center;
        padding-bottom: 20px;
        &__titre{
            font-size: $fontSizeMain;
        }
        &__boutton{
            padding: 20px ;
            input{
                border-radius: $borderRad;
                padding: $padding;
                background-color: $ninthClr;
                box-shadow: 5px 5px 5px 0px $ninthClr;
                background: linear-gradient(180deg, rgba(238,118,207,1) 0%, rgba(223,113,207,1) 50%, rgba(144,88,208,1) 100%);               font-size: 1.3em;
                color: #fff;
                padding: 10px 20px;
                cursor: pointer;
            }
        }
    }
    .navBar{
        display: flex;
        flex-direction: column;
        padding: 20px;
        &__fonctionnement{
            font-size: 1.5em;
            font-weight: bold;
            padding-left: 9%;
            &--numero{
            border: 1px solid black;
            }
            }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 88%;
            margin: 0 4%;
            li{
                text-align:center;
                list-style-type: none;
                border-radius: 20px;
                padding: 20px 180px 20px 20px;
                margin: 20px 0;
                font-size: 1em;
                box-shadow: 5px 5px 5px 0px $eightClr;
                background-color: $quintClr;
                &:hover{
                    background-color: $sixtClr;
                    .fas{
                        color: $primClr;
                    }
                }
                .numero{
                    padding: 1px 6px;
                    border-radius: 45px 45px;
                    margin-left: 1px;
                    background-color: $primClr;
                    color: #fff;
                    position: relative;
                    right: 30px;

                }
            }
        }

    }
}

.mainPage{
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: $quintClr;
    padding: 20px;
    &__restaurants
    {
        font-size: 1.5em;
        font-weight: bold;
        padding-left: 9%;

    }
    .mainPages{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &__restaurants{
            font-size: 1.5em;
                font-weight: bold;
                position: relative;
                bottom: 175px;
                left: 170px;
        }
        &__imgCard {
            width: 700px;
            height: 300px;
            border-radius: $borderRadius;
            overflow: hidden;
            margin-bottom: 30px;
            margin: 40px; 
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                &:hover{
                transition: 1s;
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
            img{
                width: 100%;
                height: 200px;
                overflow: hidden;
                object-fit:cover;
            }
            &--txt{
                width: 100%;
                height: 100px;
                background: #fff;
                p{
                    padding-left: 10px;
                    font-size: 1em;
                }
            }
            &--heart{
                display: flex;
                justify-content: space-between;
                .far{
                    font-size: 2em ;
                    padding-right: 10px;
                    color: red;
                    &:hover{
                        transform: scale(1);
                        animation-name: heart;
                        animation-duration: 500ms;
                        animation-fill-mode: forwards;
                        overflow: hidden;
                        }
                    &:before {
                        font-weight: bold;
                        transition: color 1s ease-out;

                    }
                    &:hover::before{
                        color: yellow;
                        cursor: pointer;

                    }

                    }
                }
                h3{
                    margin-top: 0;
                    padding-top: 5px;
                    padding-left: 10px;
                    font-size: 1.4em;
                }
            }
        }
    }


.menu{
    width: 100%;
    .banniereRestaurant{
        width: auto;
        img{
            max-width: 100%;
        }
    }
    .menu__restaurant{
        border-radius: 35px 35px 0 0;
        background-color: #fff;
        width: 80%;
        height: auto;
        margin: 10%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        top: -300px;
        background-color: $quintClr;
        h1{
            text-align: left;
            font-size: 1.5em;
            font-family: 'Shrikhand', cursive;
            padding-left: 20px;
            display: flex;
            justify-content: space-between;
            .far{
                font-size: 1.5em;
                padding-right: 20px;
            }
        }
        .choice{
            background-color: $quintClr;
            display: flex;
            justify-content: space-around;
            &__entree{
                h5{
                    font-size: 1em;
                    padding-left: 20px;
                    
                }

            &--detail{
                border: 1px solid #fff;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

                background-color: #fff;
                border-radius: 25px 25px;
                padding-right: 150px;
                padding-left: 20px;
                margin-bottom: 20px;
                h3{
                    font-weight: bold;
                    font-size: 1em;
                    line-height: 1px;
                }
                p{
                    font-size: 1em;
                    line-height: 1px;
                }
                h6{
                    font-weight: bold;
                    line-height: 1px;
                }
            }

            }
        }
    .commande{
        padding: 20px;
        text-align: center;
        input{
            border-radius: $borderRad;
            padding: $padding;
            background-color: $ninthClr;
            box-shadow: 5px 5px 5px 0px $ninthClr;
            background: linear-gradient(180deg, rgba(238,118,207,1) 0%, rgba(223,113,207,1) 50%, rgba(144,88,208,1) 100%);               font-size: 1.3em;
            color: #fff;
            padding: 10px 20px;
            cursor: pointer;

        }
    }

    }
}



footer{
    background-color: $seventhClr;
    width: auto;
    height: auto;
    padding: 5px;
    ul{
        list-style-type: none;
        margin-left: 125px;
        h2{
            font-family: 'Shrikhand', cursive;
            font-size: 1.3em;
            color: $quartClr;
            font-weight: lighter; 
        }
    }
    a{
        color: $quartClr;
        text-decoration: none;
    }

}