$primClr: #9356DC;
$secndClr: #FF79DA;
$tertClr: #99E2D0;
$quartClr: #fff;
$quintClr: #383838;
$borderRad: 20px;
$borderRadius: 10px;



footer{
    background-color: $quintClr;
    width: auto;
    height: auto;
    padding: 5px;
    ul{
        list-style-type: none;
        font-family: 'Roboto', sans-serif;
        margin-left: 150px;
        h2{
            font-family: 'Shrikhand', cursive;
            font-size: 1.3em;
            color: $quartClr;
            font-weight: lighter;
        }
    }
    a{
        color: $quartClr;
        text-decoration: none;
    }

}