
// Variables, Mixins
$primClr: #9356DC;
$secndClr: #FF79DA;
$tertClr: #99E2D0;
$quartClr: #f3f3f3;
$quintClr: #f6f6f6;
$sixtClr: #f5edff;
$seventhClr: #353535;
$eightClr: #eaeaea;
$ninthClr: #de6eda;
$color-primary: #9356dc;
	$color-secondary: #ff79da;
	$color-tertiary : #99e2d0;
$borderRad: 30px;
$borderRadius: 10px;
$border: 1px solid black;
$fontSizeMain: 2em;
$padding: 15px;
$imgRestaurant: (width: 100px, height: 50px);

$shadow : (
    hover: 8px 10px 9px #737373,
    hover_1: 8px 10px 9px $seventhClr,
);

// Animations & Keyframes
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    33%{
        opacity: 0.3;
    }
    66%{
        opacity: 0.6;
    }
    100% { 
        opacity: 1; 
     } 
} 

@keyframes loading {
    90%{
        
        left: 0px;
    }
    100% {
        left: -10000px;
    }
}

@keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes rotate-center {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

// Général
*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

// Loading spinner
.loading{
    background-color: $eightClr;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    animation: loading 400ms 3s;
    animation-fill-mode: both;
    z-index: 10000;
    .loader, .loader:before, .loader:after {
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
        animation-fill-mode: both;
        animation: load 2s 2 ease-in-out;
    }
    .loader {
        color: $ninthClr;
        font-size: 10px;
        margin: 80px auto;
        top: 50%;
        position: relative;
        text-indent: -9999em;
        transform: translateZ(0);
        animation-delay: -0.16s;
    }
    .loader:before, .loader:after {
        content: '';
        position: absolute;
        top: 0;
    }
    .loader:before {
        left: -3.5em;
        animation-delay: -0.32s;
    }
    .loader:after {
        left: 3.5em;
    }
}

// Header
.header{
    padding: 1em;
    box-shadow: 0 0 1em rgba(0,0,0,.25);
    position: relative;
    z-index: 9999;
    margin: 0;
        &__arrow{
            font-size: 2em;
            color: $seventhClr;
            position: absolute;
        }
        &__logo{
        font-family: 'Shrikhand', cursive;
        font-size: 2em;
        text-align: center;
        color: $seventhClr;
        font-weight: lighter;
        }
    }

    // Main
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 20%;
    .location{
        width: auto;
        height: 50px;
        padding: 10px;
        background-color: $eightClr;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
            &__texte{
                font-weight: bold;
                font-size: 1.4em;
            }
    }
    .description{
        width: 100%;
        height: auto;
        background-color: $quintClr;
        text-align: center;
        padding-bottom: 20px;
        &__titre{
            font-size: $fontSizeMain;
        }
        &__boutton{
            padding: 20px ;
            input{
                border-radius: $borderRad;
                padding: $padding;
                background: linear-gradient( to top, $color-primary, $color-secondary);
                color: #fff;
                box-shadow: map-get($shadow, hover);
                font-size: 1.3em;
                padding: 10px 20px;
                cursor: pointer;
                &:hover{
                    box-shadow: map-get($shadow, hover_1);

                    &::after {
                        opacity: 1;
                    }
                }
                &::after {
                    $color-primary-hover: lighten($color-primary, 3%);
                    $color-secondary-hover: lighten($color-secondary, 3%);
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: linear-gradient( to top, $color-primary-hover, $color-secondary-hover);
                    opacity: 0;
                    z-index: -1;
                    transition: opacity 500ms;
                    border-radius: 10rem;
                }
            }
        }
    }
    .navBar{
        display: flex;
        flex-direction: column;
        padding: 20px;
        &__fonctionnement{
            font-size: 1.5em;
            font-weight: bold;
            padding-left: 9%;
            width: 50%;
            @media (max-width: 533px){
                margin: 0;

            }
            &--numero{
            border: 1px solid black;
            }
            }
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 88%;
            margin: 0 4%;
            @media (max-width: 533px){
                margin: auto;
            }
            li{
                text-align:center;
                list-style-type: none;
                border-radius: 20px;
                padding: 20px 180px 20px 20px;
                margin: 3% 0;
                font-size: 1em;
                box-shadow: 5px 5px 5px 0px $eightClr;
                background-color: $quintClr;
                @media (max-width: 533px){
                    font-size: 0.8em;
                    padding-right: 120px;
                }
                @media (max-width: 320px){
                    font-size: 0.7em;
                    padding-right: 100px;
                }
                
                &:hover{
                    background-color: $sixtClr;
                    .fas{
                        color: $primClr;
                    }
                }
                .numero{
                    padding: 1px 6px;
                    border-radius: 45px 45px;
                    margin-left: 1px;
                    background-color: $primClr;
                    color: #fff;
                    position: relative;
                    right: 30px;

                }
            }
        }

    }
}

// Main Page
.mainPage{
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: $quintClr;
    padding: 20px;
    &__restaurants
    {
        font-size: 1.5em;
        font-weight: bold;
        padding-left: 9%;
        width: 50%;
    }
    .mainPages{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &__restaurants{
            font-size: 1.5em;
                font-weight: bold;
                position: relative;
                bottom: 175px;
                left: 170px;
        }
        &__imgCard {
            width: 700px;
            height: 300px;
            border-radius: $borderRadius;
            overflow: hidden;
            margin-bottom: 30px;
            margin: 40px; 
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                &:hover{
                transition: 1s;
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
            img{
                width: 100%;
                height: 200px;
                overflow: hidden;
                object-fit:cover;
            }
            &--txt{
                width: 100%;
                height: 100px;
                background: #fff;
                p{
                    padding-left: 10px;
                    font-size: 1em;
                }
            }
            &--heart{
                display: flex;
                justify-content: space-between;
                .far{
                    font-size: 2em ;
                    padding-right: 10px;
                    &:hover{
                        transform: scale(1.1);
                        animation-name: heart;
                        animation-duration: 500ms;
                        animation-fill-mode: forwards;
                        font-weight: 700;
                        }
                    &:before {
                        transition: color 1s ease-in-out;
                        color: red;
                    }
                    &:hover::before{
                        cursor: pointer;
                        color: $secndClr;
                    }
                    }
                }
                h3{
                    margin-top: 0;
                    padding-top: 5px;
                    padding-left: 10px;
                    font-size: 1.4em;
                }
            }
        }
    }
    

.menu{
    width: 100%;
    height: auto;

    .banniereRestaurant{
        max-width: 100%;
        height: 500px;
        img{
            width: 100%;
            height: 600px;
            object-fit: cover;
            object-position: 50% 50%;
            position:absolute;
            overflow: hidden;
            @media (max-width: 768px){
                 object-fit:cover;
                 object-position: 40% 30%;
             }
        }
    }
    // Menus des restaurants
    .menu__restaurant{
        border-radius: 35px 35px 0 0;
        width: 80%;
        height: auto;
        margin: 0 10%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 0px;
        background-color: $quintClr;
        @media (max-width: 768px){
            width: 100%;
            margin: 0;
        }
        
        h1{
            text-align: left;
            font-size: 1.5em;
            font-family: 'Shrikhand', cursive;
            padding-left: 20px;
            display: flex;
            justify-content: space-between;
            padding-top: 15px;
            .far{
                font-size: 1.5em;
                padding-right: 20px;
                &:hover{
                    transform: scale(1.1);
                    animation-name: heart;
                    animation-duration: 500ms;
                    animation-fill-mode: forwards;
                    font-weight: 700;
                    }
                &:before {
                    transition: color 1s ease-in-out;
                    color: red;
                }
                &:hover::before{
                    cursor: pointer;
                    color: $secndClr;
                }
                }
            }
            }
}

        .choice{
            background-color: $quintClr;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 1em;
            
            &__entree{
                h5{
                    font-size: 1em;
                    margin: 2em;
                    text-transform: uppercase;
                    line-height: 1px;

                }
                p{
                    margin: 2em;
                    line-height: 1px;
                    color: #75e9d3;
                    font-weight: bolder;
                }
            }
            .row-plat{
                animation: fadeInAnimation ease-in-out 2s;
                animation-iteration-count: 1;
                animation-fill-mode: both;
                margin: 1em;
                .rotation{
                    position: absolute;
                    height: 100%;
                    font-size: 2em;
                    background: #75e9d3;
                    width: 2em;
                    text-align: center;
                    line-height: 2em;
                    border-radius: 0 10px 10px 0;
                    color: white;
                    right: -5em;
                    transition: 0.5s;
                    .far{
                        font-family: "Font Awesome 5 Free";
                        font-weight: 500;
                        content: "";
                        font-size: 1em;
                        color: white;
                        
                        animation: rotate-center 0.6s ease-in-out 1 both;
                        // issue rotation check circle

                    }
                    }
                :hover > .rotation { 
                    right: 0;  
                    }  
                label{
                transition:0.2s;
                background: #fff;
                border-radius: 10px;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                }
                :hover + label {
                    background:#fff;
                }
                .barre-menu2 {
                    display: flex;
                    margin: 1em;
                    padding: 1em 6em 1em 1em;
                    align-items: center;
                    position: relative;
                    overflow: hidden; 
                    cursor: pointer;
                }
                .hidden {
                    position: absolute;
                    right: 100vw;
                }
                .col-plat-1{
                    font-weight: bold;
                }
                .col-plat-2{
                    font-weight: lighter;
                    display: flex;
                    line-height: 30px;
                }
                .col-plat-3{
                    font-weight: bold;
                    position: absolute;
                    right: 15px; 
                    &:hover{
                        margin-right: 5em;
                    }
                }              
            }
            .row-plat1{
                animation: fadeInAnimation ease-in-out 1s;
                animation-fill-mode: forwards;
            }
            .row-plat2{
                animation: fadeInAnimation ease-in-out 2s;
                animation-fill-mode: forwards;
            }
            .row-plat3{
                animation: fadeInAnimation ease-in-out 3s;
                animation-fill-mode: forwards;
            }
            .row-plat4{
                animation: fadeInAnimation ease-in-out 4s;
                animation-fill-mode: forwards;
            }
        }
    .commande{
        padding: 20px;
        text-align: center;
        input{
                border-radius: $borderRad;
                padding: $padding;
                background: linear-gradient( to top, $color-primary, $color-secondary);
                color: #fff;
                box-shadow: map-get($shadow, hover);
                font-size: 1.3em;
                padding: 10px 20px;
                cursor: pointer;
                &:hover{
                    box-shadow: map-get($shadow, hover_1);

                    &::after {
                        opacity: 1;
                    }
                }
                &::after {
                    $color-primary-hover: lighten($color-primary, 3%);
                    $color-secondary-hover: lighten($color-secondary, 3%);
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: linear-gradient( to top, $color-primary-hover, $color-secondary-hover);
                    opacity: 0;
                    z-index: -1;
                    transition: opacity 500ms;
                    border-radius: 10rem;
                }
            }
        }
    

// Footer
footer{
    background-color: $seventhClr;
    width: auto;
    height: auto;
    padding: 5px;
    padding-top: 10px;
    z-index: 1;


  
    h2{
        font-family: 'Shrikhand', cursive;
        font-size: 1.3em;
        color: $quartClr;
        font-weight: lighter; 
        padding-left: 10%;
    }
    ul{
        list-style-type: none;
        padding-left: 10%;
    }
    a{
        color: $quartClr;
        text-decoration: none;
    }
}

