* {
  font-family: "Roboto", sans-serif;
}

.header {
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
  margin: 0;
}
.header__logo {
  font-family: "Shrikhand", cursive;
  font-size: 3em;
  text-align: center;
  color: #353535;
  font-weight: lighter;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 20%;
}
.main .location {
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .location__texte {
  font-weight: bold;
  font-size: 1.4em;
}
.main .description {
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
  text-align: center;
}
.main .description__titre {
  font-size: 2.1em;
}
.main .description__boutton {
  padding: 20px;
}
.main .description__boutton input {
  border-radius: 30px;
  padding: 15px;
  background-color: #de6eda;
  box-shadow: 0px 5px 5px 0px #de6eda;
  background: linear-gradient(180deg, #ee76cf 0%, #df71cf 50%, #9058d0 100%);
  font-size: 1.3em;
  color: #fff;
  padding: 10px 20px;
}
.main .navBar__fonctionnement {
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  top: 55px;
}
.main .navBar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin: 0 12%;
}
.main .navBar ul li {
  list-style-type: none;
  border-radius: 20px;
  padding: 20px 150px 20px 20px;
  margin: 20px 0;
  font-size: 1em;
  box-shadow: 0px 5px 5px 0px #eaeaea;
  background-color: #f6f6f6;
}
.main .navBar ul li:hover {
  background-color: #f5edff;
}
.main .navBar ul li:hover .fas {
  color: #9356DC;
}

.mainPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f6f6f6;
}
.mainPage__imgCard {
  width: 700px;
  height: 300px;
  border: 0px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.mainPage__imgCard:hover {
  transition: 1s;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.mainPage__imgCard img {
  width: 100%;
  height: 230px;
  overflow: hidden;
  object-fit: cover;
}
.mainPage__imgCard--txt {
  width: 100%;
  height: 120px;
  background: #fff;
}
.mainPage__imgCard--txt p {
  padding-left: 10px;
  font-size: 1em;
}
.mainPage__imgCard--heart {
  display: flex;
  justify-content: space-between;
}
.mainPage__imgCard--heart .far {
  font-size: 2em;
  padding-right: 10px;
}
.mainPage__imgCard--heart .far:active {
  color: red;
}
.mainPage__imgCard--heart h3 {
  margin-top: 0;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 1.4em;
}

.menu {
  width: 100%;
}
.menu .banniereRestaurant {
  width: 100%;
}
.menu .banniereRestaurant img {
  max-width: 100%;
}
.menu h1 {
  text-align: center;
  font-size: 2em;
}
.menu .menu__restaurant {
  border-radius: 9% 9% 0 0;
  background-color: #fff;
  border: 1px solid black;
  width: 100%;
  z-index: 1;
  display: flex;
  position: relative;
  top: -50px;
}
.menu .menu__restaurant ul {
  font-size: 1.5em;
}
.menu .menu__restaurant ul li {
  border: 1px solid black;
  padding: 25px;
  margin-bottom: 20px;
  list-style-type: none;
  border-radius: 30px;
}

footer {
  background-color: #353535;
  width: auto;
  height: auto;
  padding: 5px;
}
footer ul {
  list-style-type: none;
  margin-left: 150px;
}
footer ul h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.3em;
  color: #f3f3f3;
  font-weight: lighter;
}
footer a {
  color: #f3f3f3;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
