.commande{
    padding: map-get($padding, padding20px);
    text-align: $center;
    input{
            border-radius: 30px;
            padding: map-get($padding, padding15px);
            background: linear-gradient( to top, primClr, secndClr);
            color: map-get($color, tenthClr);
            box-shadow: map-get($shadow, hover);
            font-size: map-get($font-size, font-size3);
            padding: map-get($padding, padding);
            cursor: pointer;
            border: transparent;
            &:hover{
                box-shadow: map-get($shadow, hover_1);
                &::after {
                    opacity: 1;
                }
            }
            &::after {
                content: "";
                position: map-get($position, absolute);
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: linear-gradient( to top, primClr-hover, secndClr-hover);
                opacity: 0; 
                z-index: -1;
                transition: opacity 500ms;
                border-radius: 10rem;
            }
        }
    }