.commande{
    padding: map-get($padding, padding20px);
    text-align: $center;
    input{
            border-radius: $borderRad;
            padding: 15px;
            background: linear-gradient( to top, $primClr, $secndClr);
            color: $tenthClr;
            box-shadow: map-get($shadow, hover);
            font-size: 1.3em;
            padding: map-get($padding, padding);
            cursor: pointer;
            &:hover{
                box-shadow: map-get($shadow, hover_1);
                &::after {
                    opacity: 1;
                }
            }
            &::after {
                $primClr-hover: lighten($primClr, 3%);
                $secndClr-hover: lighten($secndClr, 3%);
                content: "";
                position: $absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: linear-gradient( to top, $primClr-hover, $secndClr-hover);
                opacity: 0; 
                z-index: -1;
                transition: opacity 500ms;
                border-radius: 10rem;
            }
        }
    }