*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

.loading{
    background-color: $eightClr;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    animation: loading 400ms 3s;
    animation-fill-mode: both;
    z-index: 10000;
    .loader, .loader:before, .loader:after {
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
        animation: load 2s 2 ease-in-out both;
    }
    .loader {
        color: $ninthClr;
        font-size: 10px;
        margin: 80px auto;
        top: 50%;
        position: $relative;
        text-indent: -9999em;
        transform: translateZ(0);
        animation-delay: -0.16s;
    }
    .loader:before, .loader:after {
        content: '';
        position: $absolute;
        top: 0;
    }
    .loader:before {
        left: -3.5em;
        animation-delay: -0.32s;
    }
    .loader:after {
        left: 3.5em;
    }
}