@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    33%{
        opacity: 0.3;
    }
    66%{
        opacity: 0.6;
    }
    100% { 
        opacity: 1; 
     } 
} 

@keyframes loading {
    90%{
        
        left: 0px;
    }
    100% {
        left: -10000px;
    }
}

@keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes rotate-center {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }