$primClr: #9356DC;
$secndClr: #FF79DA;
$tertClr: #99E2D0;
$quartClr: #f3f3f3;
$quintClr: #f6f6f6;
$sixtClr: #f5edff;
$seventhClr: #353535;
$eightClr: #eaeaea;
$ninthClr: #de6eda;
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary : #99e2d0;
$borderRad: 30px;
$borderRadius: 10px;
$border: 1px solid black;
$fontSizeMain: 2em;
$padding: 15px;
$imgRestaurant: (width: 100px, height: 50px);

$shadow : (
    hover: 8px 10px 9px #737373,
    hover_1: 8px 10px 9px $seventhClr,
);