$primClr: #9356DC;
$secndClr: #FF79DA;
$tertClr: #99E2D0;
$quartClr: #f3f3f3;
$quintClr: #f6f6f6;
$sixtClr: #f5edff;
$seventhClr: #353535;
$eightClr: #eaeaea;
$ninthClr: #de6eda;
$tenthClr: #fff;


$borderRad: 30px;
$borderRadius: 10px;
$border: 1px solid black;
$imgRestaurant: (width: 100px, height: 50px);
$shadow: (
    hover: 8px 10px 9px #737373,
    hover_1: 8px 10px 9px $seventhClr,
);

$padding: (
    padding: 10px 20px,
    padding5px: 5px,
    padding10px: 10px,
    padding20px: 20px,
    padding15px: 15px,
    padding10prct: 10%,
    padding1em: 1em,
);

$margin: (
    margin: 1em,
    margin2: 2em,
    margin20px: 20px,
    margin40px: 40px,
);

// check W3C validator
// Change font size for the different meals for mobile

$font-size: (
    font-size1: 1em,
    font-size2: 2em,
    font-size3: 1.3em,
    font-size4: 1.4em,
    font-size5: 1.5em,
    font-size08: 0.8em,
    font-size07: 0.7em,
);

$position: (
    relative: relative,
    absolute: absolute,
    fixed: fixed,
);


$center: center;
