$color: (
primClr: #9356DC,
secndClr: #FF79DA,
tertClr: #99E2D0,
quartClr: #f3f3f3,
quintClr: #b8aeae,
sixtClr: #f5edff,
seventhClr: #353535,
eightClr: #eaeaea,
ninthClr: #de6eda,
tenthClr: #fff,
eleventhClr: #f6f6f6,
);

// issue colors for input butons

$border: 1px solid black;

$imgRestaurant: (width: 100px, height: 50px);

$shadow: (
    hover: 5px 7px 6px #737373,
    hover_1: 5px 7px 6px #353535,
);

$padding: (
    padding: 10px 20px,
    padding5px: 5px,
    padding10px: 10px,
    padding20px: 20px,
    padding15px: 15px,
    padding10prct: 10%,
    padding1em: 1em,
    Padding: 20px 30px,
);

$margin: (
    margin: 1em,
    margin2: 2em,
    margin20px: 20px,
    margin40px: 40px,
);

$font-size: (
    font-size1: 1em,
    font-size2: 2em,
    font-size3: 1.3em,
    font-size4: 1.4em,
    font-size5: 1.5em,
    font-size08: 0.8em,
    font-size07: 0.7em,
);

$position: (
    relative: relative,
    absolute: absolute,
    fixed: fixed,
);

$center: center;
