.choice{
    background-color: $quintClr;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1em;
    &__entree{
        h5{
            font-size: 1em;
            margin: 2em;
            text-transform: uppercase;
            line-height: 1px;
        }
        p{
            margin: 2em;
            line-height: 1px;
            color: #75e9d3;
            font-weight: bolder;
        }
    }
    .row-plat{
        animation: fadeInAnimation 2s ease-in-out 1 both;
        margin: 1em;    
        @media (max-width: 533px){
            font-size:0.9em;
        }    
        .rotation{
            position: $absolute;
            height: 100%;
            font-size: 2em;
            background: #75e9d3;
            width: 2em;
            text-align: $center;
            line-height: 2em;
            border-radius: 0 10px 10px 0;
            color: $tenthClr;
            right: -5em;
            transition: 0.5s;
            .far{
                vertical-align: sub;
                font-size: 1em;
                color: $tenthClr;
            }
            }
        :hover > .rotation { 
            right: 0; 

            }  
        :hover .far{
            animation: rotate-center 0.6s ease-in-out 1 forwards;
        }
        :hover .col-plat-3{
            transform: translateX(-200%);
            transition: transform 600ms;
        }
        label{
            transition:0.2s;
            background: $tenthClr; 
            border-radius: 10px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
        :hover + label {
            background:$tenthClr;    
        }
        .barre-menu2 {
            display: flex;
            margin: 1em;
            padding: 1em 7em 1em 0.5em;
            align-items: $center;
            position: $relative;
            overflow: hidden; 
            cursor: pointer;
        }
        .hidden {
            position: $absolute;
            right: 100vw;
        }
        .col-plat-1{
            font-weight: bold;  
        }
        .col-plat-2{
            font-weight: lighter;
            display: flex;
            line-height: 30px;
        }
        .col-plat-3{
            font-weight: bold;
            position: $absolute;
            right: 15px;   
        }              
    }
    .row-plat1{
        animation: fadeInAnimation ease-in-out 2s forwards;
    }
    .row-plat2{
        animation: fadeInAnimation ease-in-out 3s forwards;
    }
    .row-plat3{
        animation: fadeInAnimation ease-in-out 4s forwards;
    }
    .row-plat4{
        animation: fadeInAnimation ease-in-out 5s forwards;
    }
}