footer{
    background-color: $seventhClr;
    width: auto;
    height: auto;
    padding: 5px;
    padding-top: map-get($padding, padding10px);
    z-index: 1;


  
    h2{
        font-family: 'Shrikhand', cursive;
        font-size: 1.3em;
        color: $quartClr;
        font-weight: lighter; 
        padding-left: map-get($padding, padding10prct);
    }
    ul{
        list-style-type: none;
        padding-left: map-get($padding, padding10prct);
    }
    a{
        color: $quartClr;
        text-decoration: none;
    }
}
