.header{
    padding: map-get($padding, padding1em);
    box-shadow: 0 0 1em rgba(0,0,0,.25);
    position: map-get($position, relative);
    z-index: 9999;
    margin: 0;
        &__arrow{
            font-size: map-get($font-size, font-size2);
            color: map-get($color, seventhClr);
            position: map-get($position, absolute);
        }
        &__logo{
        font-family: 'Shrikhand', cursive;
        font-size: 2em;
        text-align: $center;
        color: map-get($color, seventhClr);
        font-weight: lighter;
        }
    }
