.mainPage{
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: $quintClr;
    padding: map-get($padding, padding20px);
    &__restaurants
    {
        font-size: 1.5em;
        font-weight: bold;
        padding-left: 9%;
        width: 50%;
    }
    .mainPages{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: $center;
        align-items: $center;
        &__restaurants{
            font-size: map-get($font-size, font-size5);
            font-weight: bold;
            position: map-get($position, relative);
            bottom: 175px;
            left: 170px;
        }
        &__imgCard {
            width: 700px;
            height: 300px;
            border-radius: $borderRadius;
            overflow: hidden;
            margin-bottom: 30px;
            margin: map-get($margin, margin40px);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                &:hover{
                transition: 1s;
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
            img{
                width: 100%;
                height: 200px;
                overflow: hidden;
                object-fit: cover;
            }
            &--txt{
                width: 100%;
                height: 100px;
                background: $tenthClr;
                p{
                    padding-left: map-get($padding, padding10px);
                    font-size: map-get($font-size, font-size1);
                }
            }
            &--heart{
                display: flex;
                justify-content: space-between;
                .far{
                    font-size: map-get($font-size, font-size2);
                    padding-right: map-get($padding, padding10px);
                    &:hover{
                        transform: scale(1.1);
                        animation: heart 500ms forwards;
                        font-weight: 700;
                        }
                    &:before {
                        transition: color 1s ease-in-out;
                        color: red;
                    }
                    &:hover::before{
                        cursor: pointer;
                        color: $secndClr;
                    }
                    }
                }
                h3{
                    margin-top: 0;
                    padding-top: 5px;
                    padding-left: map-get($padding, padding10px);
                    font-size: map-get($font-size, font-size4);
                }
            }
        }
    }
.menu{
    width: 100%;
    height: auto;
    .banniereRestaurant{
        max-width: 100%;
        height: 500px;
        img{
            width: 100%;
            height: 600px;
            object-fit: cover;
            object-position: 50% 50%;
            position: map-get($position, absolute);
            overflow: hidden;
            @media (max-width: 768px){
                 object-fit:cover;
                 object-position: 40% 30%;
             }
        }
    }
    .menu__restaurant{
        border-radius: 35px 35px 0 0;
        width: 80%;
        height: auto;
        margin: 0 10%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        position: map-get($position, relative);;
        bottom: 0px;
        background-color: $eleventhClr;
        @media (max-width: 768px){
            width: 100%;
            margin: 0;
        }
        h1{
            text-align: left;
            font-size: map-get($font-size, font-size5);
            font-family: 'Shrikhand', cursive;
            padding-left: 20px;
            display: flex;
            justify-content: space-between;
            padding-top: map-get($padding, padding15px);
            .far{
                font-size: map-get($font-size, font-size5);
                padding-right: map-get($padding, padding20px);
                &:hover{
                    transform: scale(1.1);
                    animation: heart 500ms forwards;
                    font-weight: 700;
                    }
                &:before {
                    transition: color 1s ease-in-out;
                    color: red;
                }
                &:hover::before{
                    cursor: pointer;
                    color: $secndClr;
                }
                }
            }
            }
}