.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 20%;
    .location{
        width: auto;
        height: 50px;
        padding: map-get($padding, padding10px);
        background-color: $eightClr;
        z-index: 1;
        display: flex;
        justify-content: $center;
        align-items: $center;
            &__texte{
                margin-left: 20px;
                font-weight: bold;
                font-size: 1.4em;
            }
    }
    .description{
        width: 100%;
        height: auto;
        background-color: $quintClr;
        text-align: $center;
        padding-bottom: map-get($padding, padding20px);
        &__titre{
            font-size: map-get($font-size, font-size2);
            padding: 20px 0 10px 0;
        }
        &__boutton{
            padding: map-get($padding, padding20px);
            input{
                border-radius: $borderRad;
                padding: map-get($padding, padding15px);
                background: linear-gradient( to top, $primClr, $secndClr);
                color: $tenthClr;
                box-shadow: map-get($shadow, hover);
                font-size: map-get($font-size, font-size3);
                padding: map-get($padding, padding);
                cursor: pointer;
                &:hover{
                    box-shadow: map-get($shadow, hover_1);
                    &::after {
                        opacity: 1;
                    }
                }
                &::after {
                    $primClr-hover: lighten($primClr, 3%);
                    $secndClr-hover: lighten($secndClr, 3%);
                    content: "";
                    position: map-get($position, absolute);
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: linear-gradient( to top, $primClr-hover, $secndClr-hover);
                    opacity: 0;
                    z-index: -1;
                    transition: opacity 500ms;
                    border-radius: 10rem;
                }
            }
        }
    }
    .navBar{
        display: flex;
        flex-direction: column;
        padding: map-get($padding, padding20px);
        &__fonctionnement{
            font-size: 1.5em;
            font-weight: bold;
            padding-left: 9%;
            width: 50%;
            @media (max-width: 533px){
                margin: 0;
            }
            &--numero{
            border: 1px solid black;
                }
            }
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 88%;
            margin: 0 4%;
            @media (max-width: 533px){
                margin: auto;
            }
            li{
                text-align: $center;
                list-style-type: none;
                border-radius: 20px;
                padding: 20px 180px 20px 20px;
                margin: 3% 0;
                font-size: 1em;
                box-shadow: 5px 5px 5px 0px $eightClr;
                background-color: $quintClr;
                @media (max-width: 533px){
                    font-size: map-get($font-size, font-size08);
                    padding-right: 120px;
                }
                @media (max-width: 320px){
                    font-size: map-get($font-size, font-size07);
                    padding-right: 100px;
                }   
                &:hover{
                    background-color: $sixtClr;
                    .fas{
                        color: $primClr;
                    }
                }
                .numero{
                    padding: 1px 6px;
                    border-radius: 45px 45px;
                    margin-left: 1px;
                    background-color: $primClr;
                    color: $tenthClr;
                    position: map-get($position, relative);
                    right: 30px;
                }
            }
        }

    }
}
